.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.h1 {
  margin-top: 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.h3 {
  margin-top: 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.search_form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search_button{
  background-color: rgb(183, 97, 166);
  border: none;
  padding: 10px 20px;
  color: rgb(182, 161, 161);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}